<% if notice %>
   <%= notice %>
<% end %>

<h1>カート</h1>

<table class="table">
	<tr class="title">
		<th class="name">商品名</th>
		<th class="price">価格</th>
	</tr>
	<% @items.each do |item| %>
		<tr class="<%= cycle('odd', 'even')%>" >
			<td class="name"><%= item.name %></td>
			<td class="price"><%= item.price %></td>
		</tr>	
	<% end %>
	<tr class="title">
		<th class="name">合計金額</th>
		<th class="price"><%= @items.inject(0){|sum,item| sum + item.price} %></th>
	</tr>
	<tr>
		<td colspan="2" class="name" style="text-align: center;">
			<%= link_to '購入する', purchase_start_url %>
		</td>
	</tr>
</table>
