<table width="100%">

<tr>
  <td>商品名</td>
  <td><%= @item.name %></td>
</tr>

<tr>
  <td>価格:</td>
  <td><%= @item.price %></td>
</tr>
<tr>
	<td colspan="2" align="center">
		<%= form_tag(add_cart_url, :method => 'put') do %>
		  <%= hidden_field_tag :item_id, @item.id %>
		  <%= submit_tag "カートへ追加する" %>
		<% end %>
	</td>
</tr>
</table>

<%= link_to '一覧へ', items_path %>
<br/>
